@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lobster);

* {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
}

input, textarea {
    margin: auto;
    border: none;
    padding: 20px;
    font-family: "PT Sans";
    font-size: 13px;
    width: 700px;
}

input:focus, textarea:focus {
    outline: none;
    border: none;
}

body {
    padding: 0;
    background-color: #f2d8a7;
    background-repeat: no-repeat;
    background-position: top left;

    font-size: 13px;
    font-family: "PT Sans";
    margin: auto;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    font-family: 'PT Sans';
    width: 100px;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster';
    color: #73503c;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 40pt;
    font-weight: normal;
    color: #000;
}

h3 {
    font-size: 20px;
}

a, a:visited {
    text-decoration: none;
    color: #591e23;
}

a:hover {
    color: #d94e67;
}

p {
    text-align: justify;
}

.wrapper {
    width: 100%;
}

#header {
    width: 760px;
    margin: 0 auto;
}

.content {
    width: 760px;
    margin: 0 auto;
}

#account-links {
    position: fixed;
    top: 0;
    right: 0;
    background: #D6BF94;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

/* Table of Contents */

#contents {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

#contents li a {
    padding: 3px;
    display: block;
}

#contents li a:hover {
    background-color: #A68572;
    color: #591e23;
}

#contents li:nth-child(odd) {
    background-color: #D6BF94;
}

#new-recipe-link {
    display: block;
    margin: 20px 0;
}

/* Submit page */

#submit-form {
    margin: auto;
    width: 740px;
    background: white;
    border-radius: 4px;
    padding: 5px;
}

#submit-button {
    color: white;
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    background-color: #d94e67;
}

#submit-button:hover {
    background-color: #73503c;
}

.input {
    text-align: center;
}

.separator {
    float: left;
    border-bottom: 1px solid rgba(169, 169, 169, 0.8);
    margin: 0 20px;
    width: 700px;
    height: 1px;
}
